:root {
  --main-bcg-colour: #f5f5f5;
  --footer-bcg-colour: #2f303a;
  --maint-text-colour: #2f303a;
  --secondary-text-colour: #757575;
  --accent-colour: #2196f3;
  --contacts-header-colour: #757575;
  --contacts-footer-colour: #ffffff;
  --buttom-colour: #2196f3;
  --top-logo-colour: #000000;
  --bot-logo-colour: #ffffff;
  --title-colour: #212121;
  --port-btn-bcg-colour: #f5f4fa;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--maint-text-colour);
  background-color: var(--main-bcg-colour);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
}

.link:focus {
  font-variant: var(--accent-colour);
}
/*----------------HEADER---------------*/
.header {
  background-color: var(--main-bcg-colour);
}

/*Logo*/
.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--top-logo-colour);
}

.header-logo-web {
  color: var(--accent-colour);
}

.header-list,
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-colour);
}

.current {
  color: var(--accent-colour);
}

.header-link:hover {
  color: var(--accent-colour);
}
/* Contacts */

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-header-colour);
}
.header-contact-link:hover {
  color: var(--accent-colour);
}
/*-----------Hero---------------*/
.hero {
  background-color: var(--footer-bcg-colour);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bot-logo-colour);
}

.hero-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--buttom-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*--------------fEATURES--------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-colour);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-colour);
}
/*--------------TASK----------------*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-colour);
}
.task-img {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1058px;
}

/*----------TEAM-------------*/
.team {
  background-color: #f5f4fa;
}
.team-photo {
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1632px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-colour);
}
.team-speciality {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-colour);
}

/*----------FOOTER------------*/
.footer {
  background-color: var(--footer-bcg-colour);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--bot-logo-colour);
}
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--bot-logo-colour);
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover {
  color: var(--accent-colour);
}

/*---------------PORTFOLIO--------------*/
.port-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-colour);
  background-color: var(--port-btn-bcg-colour);
}

.port-btn:hover {
  background-color: var(--accent-colour);
  color: var(--bot-logo-colour);
}

.port-item {
  background-color: var(--bot-logo-colour);
}

.port-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-colour);
}
.port-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-colour);
}
